.crumbsContainer{
    border: solid 2px #619BD4;
    border-radius : 7px;
    /*display: inline-block;*/
    overflow-x : auto;
    width: 45%;
    min-height: 20px;
    padding : 3px 3px 3px 3px;
    margin : 5px 5px 0 5px;
}

.crumb {
    display: inline-block;
    padding : 5px 5px 5px 5px;
    background-color: tomato;
    float:left;
    margin: 0 0 0 3px;
    font-size: 14px;
}