.crumbsContainer{
    border: solid 1px #619BD4;
    border-radius : 7px;
    /*display: inline-block;*/
    overflow-x : auto;
    width: 45%;
    min-height: 30px;
    margin : 5px 5px 0 5px;
}

.crumb {
    display: inline-block;
    padding : 5px 5px 5px 3px;
    float:left;
    margin: 0 0 0 3px;
    font-size: 12px;
}

.onCrumbHover {
    background-color: #8edbff;
    display: inline-block;
    padding : 5px 5px 5px 3px;
    float:left;
    margin: 0 0 0 3px;
    font-size: 12px;
}

.optionList{
    border:solid 1px #619BD4;
    width: 45%;
    max-height : 500px;
    border-radius : 7px;
    padding : 5px 5px 5px 5px;
    margin : 0 5px 5px 5px;
    overflow-y : scroll;
}
ul{
    list-style-type: none;
    margin: 5px;
    /*line-height: 100%;*/
    padding:0;
}

.onC_ItemHover{
    cursor:pointer;
    background-color: #8edbff;
}

.searchC{
    width : 80%;
    border: solid 1px #c8c2c4;
    min-height: 20px;
    margin : 0 5px 0px 5px;
}

.searchFilter{
    width : 90%;
    padding : 5px 5px 5px 5px;
    min-height: 15px;
    border: none;
}